.home{
  height: fit-content;
  background-image: url("../img/bg1.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.topic{
height: fit-content;
  background-image: url("../img/bg2.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.extras{
height: fit-content;
  background-image: url("../img/bg3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.index{
height: fit-content;
  background-image: url("../img/bg4.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.container{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 20px;
}

.container2{
  background-color: grey;
  justify-content: space-between;
  padding: 40px;
  width: 60%;
  text-align: center;
  margin: 10rem auto 0 auto;
  border-radius: 10px;
  }
  
  .container2 img{
  height: 250px;
  }
  
  .container2 p{
  color: white;
  margin-right: 15px; 
  }

.item{
  background-color: #FFFF00;
  font-family: Lato;
  border-style: solid;
  border-width: 2px;
  border-color: black;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
}

p{
  color: #FFFFFF;
  padding: 20px;
  margin: 5px;
  font-family: Lato;
  font-weight: 400;
  text-align: center;
 }

 #mainheading{
  font-family: Lato;
  font-size: 2em;
  color: #FFFFFF;
  background-color: #FFA500;
  border-style: solid;
  border-width: 2px;
  border-color: black;
  text-align: center;
  padding: 20px;
  border-radius: 10px;
}

#heading{
  color: white ;
  background-color: #FFA500;
  border-style: solid;
  border-width: 2px;
  border-color: black;
  padding: 20px;
  font-family: Lato;
  text-align: center;
}

/* The text colour was set to navy so that it stood out against the background-colour of the box/ container and the border style was made solid to make it more visible. The font family was changed to a custom one from the google fonts page
   which was put into the pages of the website via the style sheet from google fonts for it.
   */

   video{
    margin: 3%;
    width: 92%;
  }
  
  /* There's only one video element, so I didn't need to use a class or id element.
 Margin element was used on the video to create space around the video element by creating a border like structure.
 The width of the video element was adjusted so that it doesn't take up a lot of space on the page, in other words so that it doesn't look squashed by having a wide width.
 */     

.imgThumbnail {
  width: 25%;
  padding: 20px;
  margin-left: 60px;
  cursor: pointer;
}

/* The thumbnail of the popups were given a width of 25% so that they're not too big and don't take up too much space on the page. The images were floated from the value 'left' so they lined up together like a grid. */

.popup {
  display: none;
  width: 90%;
  height: 90%;
  min-height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  padding: 5%;
}

/* The popup had the same value for the width and height so it was equal and the 'absolute' value for the position means that it will put in position with the nearest thing which in this case will be another image/ set of images. */

.popup img {
  width: 100%;
}

/* The image within the pop up was given a width of 100% so that the image was shown in the pop up at full scale. */

.popup .inside {
  background-color: white;
  padding: 2%;
}

/* The inside of the pop up was given a white background using 'background-color' and the padding was set to make space between the border and it's content(s). */

.text-colour{
  color: black;
}

/* This was to change the colour of the text in the pop up banner, because it was white and with white text, the text wasn't visible, so the colour was changed. */

.closeBtn {
  float: right;
  cursor: pointer;
}

/* *The close button for the pop up was put the the right side using the float element. */

footer{
  text-align: center;
  background-color: #FFA500;
  border-width: 2px;
  padding: 20px;
}

#contact{
  display: block;
  text-align: center;
  color: black;
}

/* The colour of the text for these contact links were made black so that they stand out from the light colour(s) in the background image and were centered so that it was under the text and was easy to find. */

.body{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

footer{
  text-align: center;
  background-color: #FFA500;
  border-width: 2px;
  padding: 20px;
  padding: 20px;
  margin-top: auto;
}

#contact{
  display: block;
  text-align: center;
  color: black;
}

/* The colour of the text for these contact links were made black so that they stand out from the light colour(s) in the background image and were centered so that it was under the text and was easy to find. */
